.container-main{
    padding-top: 64px;
    flex-grow: 1;
    
    &__container-header{
        height: 45px;
        background-color: #27272A;
    }
    &__header{
        color: white;
        font-size: 18px;
        line-height: 21.09px;
        padding: 11px 15px;
        width: 30%;
        border-right: 1px solid #414144;
    }
}
.table{
    min-width: 650px;
    background-color: #202124;
}
.table-row{
    background-color: #202124;
    cursor: pointer;
    &:last-child td,
    &:last-child th {
        border: 0;
    }
    .icon-cell{
        width: 5%;
        
    }
}

